@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--pastel-cream); /* Пастельный кремовый фон для светлой темы */
  --foreground: var(--dark-text); /* Темный текст для светлой темы */
  --pastel-cream: #FAF9F6; /* Пастельный кремовый фон */
  --pastel-pink: #FFB6C1; /* Нежно-розовый акцент */
  --pastel-blue: #ADD8E6; /* Пастельно-голубой акцент */
  --pastel-lilac: #E6E6FA; /* Мягкий сиреневый */
  --dark-text: #4A5568; /* Темный текст */
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

body {
  @apply text-foreground;
  background: linear-gradient(180deg, #e0e0e0, #f0f0f0, #d0d0d0);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h2, h3 {
  font-family: var(--font-montserrat);
}

.bg-pastel-cream {
  background-color: var(--pastel-cream);
}

.bg-pastel-pink {
  background-color: var(--pastel-pink);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.task-card-animation {
  animation: fadeIn 0.5s ease-out;
}
